body{
    background-color: #f8f8f8;
}

.container {
    text-align: center;
}
.container div {
    margin: 10px auto;
}

.jumbotron {
    background-color: #474747;
    font-family: "monospace";
    color: #76b8f5;
}
